
body {
  background-color: #fcfcff;
  color: #fff;
  font-family: "Roboto Light", Helvetica, sans-serif;
  font-size: 16px;
  height: 800px;
  margin: auto;
  margin-top: 50px;
  width: 420px;
}

.iphone {
  background-color: #444;
}

/* font styling */

h4, h5 {
  letter-spacing: 1.2px;
}

.time h4 {
  text-align: right;
}

h5 {
  color: pink;
  font-style: italic;
  font-size: 1em;
}

.special {
  font-size: 1.2em;
  font-style: italic;
  margin-top: -6px;
  padding-bottom: 6px;
}

.time.special {
  padding-right: 20px;
}


/* header */

header {
  padding-bottom: 20px;
  position: sticky;
  top: 0;
}

.status-bar img, .toggle img, .title img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.status-bar img {
  padding-top: 4px;
  width: 97%;
}

.toggle img {
  margin-bottom: 4px;
  margin-top: 16px;
  height: 32px;
  width: 232px;
}

.title img {
  margin-bottom: 8px;
  margin-top: 16px;
  width: 95%;
}

/* map */

.map img {
  width: 100%;
}

/* flexbox / floats / adjustments for the bus schedule */

.schedule {
  overflow: scroll;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 24px;
  width: 420px;
}

.destination, .time {
  border-bottom: .25px solid #555;
}

.number {
  width: 72px;
  height: 80px;
  float: left;
  margin-top: -2px;
  padding-left: 8px;
}

.destination {
  width: 232px;
  height: 70px;
  float: left;
}

.time {
  width: 80px;
  height: 70px;
  padding-right: 16px;
  float: left;
}

.number img {
  width: 64px;
  height: 64px;
  padding-top: 0;
  margin-left: 0;
}

.extra {
  height: 80px;
}
