html {
  overflow-y: hidden;
}

body {
  background-color: #fcfcff;
  color: #fff;
  font-family: "Roboto Light", Helvetica, sans-serif;
  font-size: 14px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  width: 360px;
}

.iphone {
  background-color: #444;
}

/* font styling */

h2, h4, h5 {
  letter-spacing: 1.2px;
}


.time h4, .time h5 {
  text-align: right;
}

h5 {
  color: pink;
  font-style: italic;
  font-size: 1em;
}

.special {
  font-size: 1.2em;
  font-style: italic;
  margin-top: -6px;
  padding-bottom: 6px;
}

.time.special {
  padding-right: 20px;
}


/* header */

header {
  padding-bottom: 20px;
  position: sticky;
  top: 0;
}

.status-bar img, .toggle img, .title img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.status-bar img {
  padding-top: 4px;
  width: 97%;
}

.toggle img {
  margin-bottom: 4px;
  margin-top: 16px;
  height: 32px;
  width: 232px;
}

.title img {

  margin-bottom: 8px;
  margin-top: 16px;
}

.arrow {
  height: 32px;
  width: 18px;
  float: left;
  padding-left: 10px;
}

.location {
  width: 270px;
  float: left;
  padding-left: 16px;
  padding-top: 8px;
  text-align: center;
}

.account {
  width: 9px;
  height: 30px;
  padding-right: 10px;
  padding-left: 12px;
  padding-top: 19px;
}

/* map */

.map img {
  width: 100%;
}

/* flexbox / floats / adjustments for the bus schedule */

.schedule {
  overflow: scroll;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  justify-content: left;
  padding-top: 16px;
  padding-bottom: 24px;
  width: 420px;
}

.destination, .time {
  border-bottom: .25px solid #555;
}

.number {
  width: 60px;
  height: 80px;
  float: left;
  margin-top: -2px;
  padding-left: 8px;
}

.destination {
  width: 200px;
  height: 70px;
  float: left;
  padding-left: 8px;
}

.time {
  width: 60px;
  height: 70px;
  padding-right: 24px;
  float: left;
}

.number img {
  width: 58px;
  height: 58px;
  padding-top: 0;
  margin-left: 0;
}

/* adjusting spacing to the bus schedules in the table to correct alignment */

.adjust {
  padding-top: 2px;
}

.target {
  margin-top: -4px;
}
