html {
  overflow-y: hidden;
}

body {
  background-color: #fcfcff;
  color: #fff;
  font-family: "Roboto Light", Helvetica, sans-serif;
  font-size: 14px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  width: 360px;
}

.iphone {
  background-color: #444;
}

/* font styling */

h2, h3, h4, h5 {
  letter-spacing: 1.1px;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
  font-style: italic;
  padding: 16px 0 24px 8px;
}

h5 {
  color: pink;
  font-style: italic;
  font-size: 1em;
}

.special {
  font-size: 1.2em;
  font-style: italic;
}


/* header */

header {
  padding-bottom: 20px;
  position: sticky;
  top: 0;
}

.status-bar  {
  padding-top: 4px;
  width: 97%;
}

.status-bar, .toggle, .title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.toggle {
  padding-bottom: 4px;
  padding-top: 16px;
  height: 32px;
  width: 232px;
  margin: auto;
}

.arrow {
  height: 28px;
  width: 18px;
  float: left;
  padding-top: 20px;
  padding-left: 18px;
}

.location {
  width: 270px;
  float: left;
  padding-left: 12px;
  padding-top: 32px;
  text-align: center;
}

.menu {
  width: 9px;
  height: 30px;
  padding-right: 12px;
  padding-left: 20px;
  padding-top: 22px;
}

/* map */

.map img {
  width: 100%;
}

/* flexbox / floats / adjustments for the bus schedule */

.schedule {
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 360px;
  padding-bottom: 24px;
}

ul {
  overflow-x: hidden;
  white-space: wrap;
  margin: auto;
  padding: 0;
}

li {
  display: inline-block;
  border: 1px solid black;
  text-align:
}

ul.buslist {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.table {
  display: table;
  margin: 0 auto;
}

li.bus {
  max-width: 360px;
}

.number img {
  width: 56px;
  height: 56px;
}

li.number {
  width: 60px;
}
li.destination {
  width: 180px;
}
li.time {
  width: 80px;
}
